
@{
    ViewBag.Title = "Ошибка";
}

<h3>Ошибка перенаправления на сайт</h3>
<p>При переходе на сайт произошла ошибка! Попробуйте еще раз позднее. Если ошибка повторятся, перейдите в настройки профиля и обновите доступ к электронным курсам. После этой процедуры
    повторите попытку входа. Если проблему устранить не получается обратитесь с ней в тех. поддержку по адресу sspa.sdo@gmail.com.
    В письме укажите свое ФИО, группу, в которой Вы обучаетесь или должность, а так же характер проблемы.</p>

