@{
    ViewBag.Title = "Восстановление доступа к личному кабинету";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    @if (ViewBag.Status == "NoFindUsers")
    {
        <p>Уважаемый посетитель сайта, Ваши данные не были обнаружены в системе! Причины, по которым это могло произойти:</p>
        <ol>
            <li>Введенные Вами данные содержат ошибку/и (в этом случае вернитесь к предыдущему шагу и устраните их);</li>
            <li>
                Введенные Вами фамилия, имя и/или отчество не совпадают с данными о Вас, в базе пользователей сайта;
                <ul>
                    <li>Возможно разночтение буквы "е" и "ё" в ФИО.</li>
                    <li>
                        Ваша фамилия, имя или отчество внесено с ошибкой в базу студентов СФ БашГУ.
                        Обратитесь в деканат своего факультета (или в заочное отделение своего факультета, если Вы студент заочник)
                        и сверьте Ваши ФИО в электронном деканате (базе студентов).
                    </li>
                </ul>
            </li>
            <li>
                Ваши данные отсутствуют в базе пользователей сайта (как правило, данная проблема, проявляется у "только что"
                восстановившихся или переведенных студентов из других ВУЗов).
                <ul>
                    <li>
                        Возможно Ваши данные еще не внесли в электронный деканат (базу студентов). Данные вносятся после выхода приказа.
                        В этом случае повторите процедуру восстановления доступа после выхода приказа о зачислении/переводе.
                    </li>
                    <li>
                        Данные о пользователях сайта еще не успели синхронизироваться с базой электронного деканата.
                        Повторите процедуру восстановления доступа через 1-3 дня.
                    </li>
                </ul>
            </li>
        </ol>

        <p>
            Если ничего из выше перечисленного не помогло напишите о своей проблеме в техническую поддержку сайта sdo_strbsu@strbsu.ru,
            с подробной информацией о себе (ФИО, группа, проблема).
        </p>
    }

    else if (ViewBag.Status == "FindEmail" || ViewBag.Status == "FindStudent" || ViewBag.Status == "FindTeacher")
    {
        <p>
            Если данные были указаны верно, письмо с логином и паролем будет отправлено на указанную Вами почту.
        </p>
    }
    else if (ViewBag.Status == "NotSendEmail")
    {
        <p>
            Недостаточно данных для отправки письма.
        </p>
    }

</div>

