To: @ViewBag.To
From: @ViewBag.From

<p>
    Это автоматическая рассылка, на данное письмо отвечать не нужно!
</p>


Сайт: http://account.strbsu.ru

Логин: @ViewBag.UserName

Пароль: @ViewBag.NewPassword


