To: @ViewBag.To
From: @ViewBag.From

    <p>
        Это автоматическая рассылка, на данное письмо отвечать не нужно!
    </p>

Уважаемые студенты, в связи с переходом СФ БашГУ к единой электронной информационно-образовательной среде,
доступ к электронным курсам, будет осуществляться из личного кабинета студента. Для перехода к электронным курсам
перейдите по ссылке "Электронные курсы" в личном кабинете.

Адрес сайта личного кабинета:
http://account.strbsu.ru

