
@{
    ViewBag.Title = "Бланки документов";
}

<h2>@ViewBag.Title</h2>
<p>Уважаемые студенты, на этой странице вы можете скачать пустые бланки ВУЗа.</p>
<br />
<h4>Выпускникам:</h4>

<p><a href="~/DocTemplates/обходной.docx">Обходной лист</a></p>

<br />
<h4>Студентам контрактникам:</h4>

<p><a href="~/DocTemplates/Заявление на возврат.docx">Заявление на возврат средств</a></p>
<p><a href="~/DocTemplates/Заявление на отсрочку платежа МК.docx">Заявление на отсрочку платежа МК</a></p>
<p><a href="~/DocTemplates/Заявление на рассрочку.docx">Заявление на рассрочку</a></p>
<p><a href="~/DocTemplates/Заявление ошибочная оплата.docx">Заявление на ошибочную оплату</a></p>
<p><a href="~/DocTemplates/Заявление на поэтапную оплату.docx">Заявление на поэтапную оплату</a></p>
<p><a href="https://strbsu.ru/payment">Квитанция на оплату</a></p>

