@{
    ViewBag.Title = "Электронные библиотечные системы";
}
<h2>@ViewBag.Title.</h2>

<h4>ЭБ БашГУ</h4>
<p>
    В ЭБ БашГУ содержатся учебная и учебно-методическая литература, авторефераты диссертаций, научные статьи из периодических изданий, также издания
    преподавателей СФ БашГУ.
</p>
<p>
    Круглосуточный, индивидуальный доступ из любой точки, в которой имеется доступ к сети Интернет, Для авторизации используйте идентификатор и
    пароль читателя СФ БашГУ. Получить или восстановить регистрационные данные можно в любом читальном зале или на абонементе Библиотеки.
</p>
<p><a href="https://elib.bashedu.ru/">https://elib.bashedu.ru/</a></p><br />

<h4>ЭБС «Университетская библиотека online»	</h4>
<p>
    Основу «Университетской библиотеки онлайн» составляют электронные книги по гуманитарным и естественнонаучным дисциплинам, экономике,
    управлению, здравоохранению, архитектуре и строительству, информационным технологиям. Книги сгруппированы в целостные тематические коллекции, представлены
    в едином издательском формате, адаптированном для чтения с экрана (в том числе букридеров, планшетов и смартфонов), и приспособленном для целей научного
    цитирования. Каждое издание в «Университетской библиотеке онлайн» полностью соответствует существующим требованиям к библиографическому оформлению: имеет
    библиографическое описание, обложку, аннотацию и интерактивное содержание; текст разбит постранично с сохранением оригинальной полиграфической верстки.
</p>
<p>Круглосуточный, индивидуальный доступ из любой точки, в которой имеется доступ к сети Интернет, только при наличии регистрации	</p>
<p><a href="http://biblioclub.ru/">http://biblioclub.ru/</a></p><br />

<h4>ЭБС Издательства «Лань»</h4>
<p>
    Содержит электронные версии книг издательства «Лань» и других ведущих издательств учебной литературы, так и электронные версии периодических
    изданий по естественным, техническим и гуманитарным наукам.
</p><p>
    Круглосуточный, индивидуальный доступ из любой точки, в которой имеется доступ
    к сети Интернет, только при наличии регистрации
</p><p><a href="https://e.lanbook.com">https://e.lanbook.com</a></p><br />

<h4>ЭБС Издательства «Znanium.com»	</h4><p class="">
    Коллекция электронных версий книг, журналов, статей и пр., сгруппированных по тематическим
    и целевым признакам. Сформирована с учетом всех изменений образовательных стандартов и включает учебники, учебные пособия, УМК, монографии, энциклопедии,
    словари и справочники, законодательно-нормативные документы, специальные периодические издания и издания, выпускаемые издательствами вузов.
    ЭБС Znanium.com — разработка Научно-издательского центра ИНФРА-М.
</p><p>
    Круглосуточный, индивидуальный доступ из любой точки, в которой имеется
    доступ к сети Интернет, только при наличии регистрации
</p><p><a href="http://znanium.com/">http://znanium.com/</a></p><br />

<h4>ЭБС Издательства «ЮРАЙТ»</h4><p class="">
    Коллекция электронных книг для среднего профессионального образования по многим отраслям знаний. Для удобства
    навигации по электронной библиотеке издания сгруппированы в каталог по тематическому принципу. Пользователям доступны различные сервисы для отбора изданий
    и обеспечения с их помощью комфортного учебного процесса.
</p><p>
    Круглосуточный, индивидуальный доступ из любой точки, в которой имеется доступ
    к сети Интернет, только при наличии регистрации
</p><p><a href="https://www.biblio-online.ru/">https://www.biblio-online.ru/</a></p><br />

<h4>
    Научная электронная библиотека «Elibrary.ru»
</h4><p>
    Крупнейший российский информационно-аналитический портал в области науки, технологии, медицины и образования,
    содержащий рефераты и полные тексты более 22 млн. научных статей и публикаций, в том числе электронные версии более 3900 российских научно-технических журналов,
    из которых более 2800 журналов в открытом доступе. Доступна полнотекстовая коллекция из 73 российских журналов.
</p>
<p><a href="http://elibrary.ru">http://elibrary.ru</a></p><br />
