
@{
    ViewBag.Title = "Социологическое исследование";
}

    <h4>@ViewBag.Title</h4>

<div style="width:640px;margin:0 auto">
    <iframe src="https://docs.google.com/forms/d/19LQRPw_RACZ7Onv4cQT-vqwE7w7Wrxg-FvStedhFfJE/edit?usp=sharing" width="640" height="10271" frameborder="0" marginheight="0" marginwidth="0">Загрузка…</iframe>
</div>