
@{
    ViewBag.Title = "Пользовательское соглашение";
}

<h2>@ViewBag.Title</h2>

<p>
    I. Физическое лицо, являющееся студентом очной, заочной, очно-заочной форм обучения,
    сотрудником или преподавателем СФ БашГУ - именуемый в дальнейшем «пользователем», имеет возможность доступа
    к персонализированной части электронной информационно-образовательной среде СФ БашГУ (далее по тексту ЭИОС).
</p>
<p>
    II. Все пользователи, осуществляющие вход в «Личный кабинет» после активации
    своей учетной записи, выражают свою заинтересованность и полное согласие на
    обработку их персональных данных, которая может включать следующие действия: сбор,
    систематизацию, накопление, хранение, уточнение (обновление, изменение),
    использование и уничтожение, а также принимают условия данного пользовательского соглашения.
</p>
<p>
     III. Пользователь, получающий авторизованный доступ к ЭИОС СФ БашГУ, в полной мере ответственен за сохранность регистрационных данных и обязуется в дальнейшем:
</p>
<ol type="a">
    <li>нести ответственность за неумышленное разглашение регистрационной информации, в результате собственной некомпетентности при работе с информационными образовательными ресурсами СФ БашГУ;
    <li>нести ответственность за умышленное разглашение регистрационной информации, в частности – передачу своего логина и пароля другому лицу;
    <li>нести ответственность за умышленное использование регистрационной информации других пользователей, в частности – использование другого логина и пароля для входа в ЭИОС СФ БашГУ и осуществление различных операций от имени другого пользователя;
    <li>нести ответственность за умышленное использование программных средств (вирусов, и/или самовоспроизводящегося кода), позволяющих осуществлять несанкционированное проникновение в ЭИОС СФ БашГУ с целью модификации информации, кражи паролей, угадывания паролей и других несанкционированных действий;
    <li>соблюдать правила этики внутри сетевого учебного сообщества СФ БашГУ:
        <ul>
            <li>компетентно отвечать в форумах, обсуждениях, опросах и других формах сетевого общения;
            <li>соблюдать авторские соглашения и всегда указывать ссылки на источники при использовании цитат в сообщениях;
            <li>проявлять корректность в общении с другими участниками сетевого сообщества.
        </ul>
    <li>пользователь обязан немедленно уведомить администратора информационной образовательной системы (непосредственно, либо через организатора) в случае невозможности авторизованного входа, с измененным пользователем паролем, с целью временного блокирования доступа в систему от имени этого пользователя.
    <li>пользователь обязан немедленно уведомить администратора информационной образовательной системы (непосредственно, либо через организатора) о любом случае неавторизованного (не разрешенного пользователем) доступа и/или о любом нарушении безопасности.
    <li>администратор информационной образовательной системы оставляет за собой право в случае несоблюдения пунктов Соглашения запретить использование определенных логинов и/или изъять их из обращения.

</ol>
<p>
    IV. Технические требования для работы в ЭИОС СФ БашГУ:
    <ul>
        <li>поддерживаемые браузеры – Google Chrome (49 версия и выше), Mozilla Firefox (61 версия и выше);
        <li>скорость соединения – от 256 Кбит/с;
        <li>Adobe Flash Player для участия в вебинарах.
    </ul>
</p>




