
@{
    ViewBag.Title = "Техническая поддержка";
}

<h2>@ViewBag.Title</h2>
    По всем вопросам, связаным с работой сайта, вы можете писать на электронную почту <strong>sdo</strong>_<strong>strbsu@strbsu</strong>.<strong>ru</strong>.
    Обязательно указывайте кто Вы, в какой группе учитесь, после каких действий появляется сообщение об ошибке, прилагайте скриншоты
(из которых понятны причины проблемы, а не стандартные страницы с ошибками сайта) и подробное описание.
</p>
<h3>Часто задаваемые вопросы</h3>
<hr />
<div class="panel panel-success">
    <div class="panel-heading" role="tab" id="heading1">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
                1. Могу ли я восстановить доступ к ЛК самостоятельно или обязательно ехать в другой конец города, в неведомый кабинет 221 главного корпуса?
            </a>
        </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
        <div class="panel-body">
            <p>
                Да, можете! Более того, такой способ наиболее быстрый, удобный и предпочтительный.
                И даже если Вы потеряли доступ к старой почте, все равно можете, ответив на секретный вопрос, который сами же и указывали при первом входе не сайт.
            </p>
        </div>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading" role="tab" id="heading2">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                2. При восстановлении доступа пишет: "Поле Почта не содержит допустимый адрес электронной почты."
            </a>
        </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
        <div class="panel-body">
            <p>Удалите все пробелы из поля с адресом Вашей электронной почты.</p>
        </div>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading" role="tab" id="heading3">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                3. При переходе по ссылке "Электронные курсы" или "Обмен сообщениями" требует ввод логина и пароля
            </a>
        </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
        <div class="panel-body">
            <p>Зайдите в "Настройки профиля" (значок шестеренки в правом верхнем углу) и перейдите по ссылке "Обновить" в пункте "Доступ к электронным курсам".</p>
        </div>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading" role="tab" id="heading4">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                4. Мои персональные данные (ФИО и т.п.) выводятся с ошибкой или не актуальны. Как их обновить?
            </a>
        </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
        <div class="panel-body">
            <p>
                Большинство ваших персональных данных, сайт получает из электронного деканата (база студентов СФ БашГУ).
                Если Вы заметили какие-либо неточности или опечатки в своих персональных данных или данные стали не актуальны (например, Вы сменили фамилию),
                Вам необходимо обратиться в деканат своего факультета (если Вы студент дневной формы обучения)
                или в заочное отделение вашего факультета (если Вы студент заочной формы обучения). После обновления данных в электронном деканате,
                через некоторое время произойдет синхронизация информации между сайтом и деканатом, и ваши персональные данные на сайте изменятся автоматически.
            </p>
        </div>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading" role="tab" id="heading5">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                5. Текст и другие элементы на страницах сайта отображаются со смещением или искажены. Что делать?
            </a>
        </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
        <div class="panel-body">
            <p>
                Наиболее вероятных причин данной проблемы две:<br />
                1. Вы используете старые версии браузеров Google Chrome или Mozilla Firefox, соответственно, их необходимо обновить<br />
                2. Вы используете браузер Internet Explorer. Для решения проблемы воспользуйтесь рекомендованными браузерами (Google Chrome или Mozilla Firefox)
            </p>
        </div>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading" role="tab" id="heading6">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                6. При добавлении достижений в портфолио, введенная дата не проходит проверку или не вводится. Что делать?
            </a>
        </h4>
    </div>
    <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
        <div class="panel-body">
            <p>
                Скорее всего Вы используете браузер Internet Explorer или Safari. Воспользуйтесь рекомендованными браузерами Google Chrome или Mozilla Firefox.
                <br />Для браузера Safari формат вводимой даты должен соответсвовать следующему виду "dd-mm-yy".
            </p>
        </div>
    </div>
</div>


